<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ecommerce piscine!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% block stylesheets %}
        {% endblock %}

        
    <body>
<header>
    <nav>

		<ul>
			<li><a href="{{path('home')}}">Accueil</a></li>
			<li><a href="{{path('list-categories')}}">Catégories</a></li>
			<li><a href="{{path('list-products')}}">Produits</a></li>
		</ul>
</nav>
      </header>
      {% for message in app.flashes('error') %}
      <p>{{ message }} </p>
      {% endfor %}
        
        {% block main %}{% endblock %}
    </body>
</html>
