<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ecommerce piscine!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    <nav>

		<ul>
			<li><a href="{{path('home')}}">Accueil</a></li>
			<li><a href="{{path('list-categories')}}">Catégories</a></li>
			<li><a href="{{path('list-products')}}">Produits</a></li>
		</ul>

        
        {% block main %}{% endblock %}
    </body>
</html>
